<div class="intro">
  <div>
    <div class="site-title font-pencil-child">JustZvan</div>
    <div class="subtitle">your average teenage hobbyist software dev</div>

    <noscript>
      <div class="subtitle">
        the email button does not work with javascript disabled. please manually
        base64 decode the email: anVzdHp2YW5AanVzdHp2YW4ueHl6
      </div>
    </noscript>

    <nav class="nav">
      <a href="/"> home </a>
      <a href="/blog"> blog </a>
      <a href="/donate"> donate </a>
    </nav>
  </div>

  <div class="socials">
    <a
      href="https://github.com/JustZvan"
      target="_blank"
      rel="noreferrer"
      class="social-link white-svg"
    >
      <img src="/icons/github.svg" alt="" />
    </a>

    <a
      href="https://x.com/JustZvan"
      target="_blank"
      rel="noreferrer"
      class="social-link white-svg"
    >
      <img src="/icons/twitter.svg" alt="" />
    </a>

    <a
      href="https://fosstodon.org/@justzvan"
      target="_blank"
      rel="noreferrer"
      class="social-link white-svg"
    >
      <img src="/icons/mastodon.svg" alt="" />
    </a>

    <button class="social-button white-svg" id="email-button">
      <img src="/icons/email.svg" alt="" />
    </button>

    <a
      href="https://keys.openpgp.org/vks/v1/by-fingerprint/A435ACB1045A5F5867EB89A2E3057CF8587C0735"
      target="_blank"
      rel="noreferrer"
      class="social-link white-svg"
    >
      <img src="/icons/key.svg" alt="" />
    </a>
  </div>
</div>
