<div class="intro">
  <div>
    <div class="site-title font-pencil-child">JustZvan</div>
    <div class="subtitle">your average teenage hobbyist software dev</div>

    <nav class="nav">
      <a href="/"> home </a>
      <a href="/blog"> blog </a>
      <a href="/donate"> donate </a>
    </nav>
  </div>

  <div class="socials">
    <a
      href="https://github.com/JustZvan"
      target="_blank"
      rel="noreferrer"
      class="social-link white-svg"
    >
      <img src="/icons/github.svg" alt="" />
    </a>

    <a
      href="https://x.com/JustZvan"
      target="_blank"
      rel="noreferrer"
      class="social-link white-svg"
    >
      <img src="/icons/twitter.svg" alt="" />
    </a>

    <a
      href="https://fosstodon.org/@justzvan"
      target="_blank"
      rel="noreferrer"
      class="social-link white-svg"
    >
      <img src="/icons/mastodon.svg" alt="" />
    </a>

    <button class="social-button white-svg" id="email-button">
      <img src="/icons/email.svg" alt="" />
    </button>
  </div>
</div>
