<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('blocks/head.ejs') %>
  </head>
  <body>
    <main class="layout-main">
      <div class="container">
        <%- include('blocks/intro.ejs') %>

        <div>
          <div>
            Want to throw money at me? If yes you can via the following methods:
          </div>
          <ul class="list smaller-text">
            <li>
              <strong
                >XMR:
                42DwwNnQ2r8UD2yRSyh3pFGQepQsuVJFpRUp2nfLp8q1fWMNgjT8fNP3yEFQ46dwnALsrhsDsEM5FS7yv7G88Pem8g93qbj</strong
              >
            </li>
            <li>
              <strong
                >BTC:
                bc1pc9g24ank2vph0xgg72d092h2p2uuwy4fevfl0027uc9prqqnh7usq6y8e3</strong
              >
            </li>
            <li>
              <a href="https://www.roblox.com/users/1799923190/profile"
                >or you can send me robux lmao</a
              >
              <br />
              <span
                ><strong>NOTE:</strong> if you're actually going to donate
                robux, please do a direct gamepass donation from the profile,
                not pls donate! This allows me to get 70% of the donation,
                instead of 60%.</span
              >
            </li>
          </ul>
        </div>

        <div>Thank you for considering supporting me!</div>
      </div>
    </main>

    <!-- For the email deobfuscation, read the source if you don't trust me -->
    <script src="/js/decrypt.js"></script>
  </body>
</html>
