<% var title = 'first post'; var date = '2025-08-20'; var excerpt = 'asd'; var
content = `
<p>well i have a blog now!</p>
<p>expect to see some rants here, and maybe some useful guides</p>
`; %> <%- include('../blog-post.ejs', { title: title, date: date, content:
content }) %>
